@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */

.custom-button {
  background-color: #ef4444; /* Couleur de fond verte */
  border: none; /* Supprime la bordure par défaut */
  color: white; /* Couleur du texte */
  padding: 15px 32px; /* Espacement intérieur du bouton */
  text-align: center; /* Alignement du texte */
  text-decoration: none; /* Supprime la décoration du texte */
  display: inline-block; /* Affichage en ligne */
  font-size: 16px; /* Taille de la police */
  margin: 4px 2px; /* Marges autour du bouton */
  cursor: pointer; /* Curseur de pointeur au survol */
  border-radius: 8px; /* Coins arrondis */
  transition: background-color 0.3s ease; /* Transition de couleur de fond */
}

.custom-button:hover {
  background-color: #c23535; /* Couleur de fond au survol */
}

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
