@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'arista';
  src: url('/arista.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crayon';
  src: url('/crayon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

/* global.css */

.custom-button {
  font-family: crayon;
  letter-spacing: 0.15em;
  background-color: #292524; /* Couleur de fond verte */
  border: none; /* Supprime la bordure par défaut */
  color: #e2e8f0; /* Couleur du texte */
  padding: 0.5rem 1.5rem; /* Espacement intérieur du bouton */
  text-align: center; /* Alignement du texte */
  text-decoration: none; /* Supprime la décoration du texte */
  display: inline-block; /* Affichage en ligne */
  font-size: 1.25rem; /* Taille de la police */
  margin: 4px 2px; /* Marges autour du bouton */
  cursor: pointer; /* Curseur de pointeur au survol */
  border-radius: 8px; /* Coins arrondis */
  transition: background-color 0.3s ease; /* Transition de couleur de fond */
}

.custom-button:hover {
  background-color: #8b7112; /* Couleur de fond au survol */
}

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*/
